.NastroikaCards{
	margin-top: 20rem;
	margin-left: 30%;
	width: 512px;
	padding: 2rem;
	background-color: #bdaa82;
	border-radius: 1rem;
}

* {
	padding : 0;
	margin: 0 auto;
	box-sizing: border-box;
}

body {
	background-image: url('../cards/fon.svg');
 }

h1{margin: 1.5rem;}

img{
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

input {
	font-size: 18px;
	color: #777;
}

a{
	color: #fcd285;
	text-decoration: none;
}
a:hover {
    color: #fcd381;
    text-decoration: underline;
}
a:visited {color: #fcd285;}
a:active {color: #bdbdbb;}

.Probel, .Pictogramma {
	float: left;
	width: 10%;
	height: 205px;
}

.TexturaFon, .MaskaTop{
	background-image: url('../images/Textura.png');
	position: absolute;
	width: 100%;
	height: 1080px;
}

.Maska{
	background-image: url('../cards/Maska.svg');
	height: 1080px;
}

.Logo{
	float: left;
	background-image: url('../images/Synespy.svg');
	background-size: 100% 100%;
	width: 10%;
	height: 150px;
}

.NaTri{
	float: left;
	width: 20%;
	height: 615px;
}

.PictogrammalN, .ProbelN{
	float: left;
	width: 50%;
	height: 205px;
}

.Otstup{
	float: left;
	width: 100%;
	height: 55px;
}

.CardPlase{
	float: left;
	width: 60%;
	height: 615px;
}

.Card{
	position: absolute;
	top: 13rem;
	left: 50%;
	margin-left:  -512px;
	background-image: url('../images/fon.svg');
	width: 1024px;
	height: 615px;
	border-radius: 1rem;
}

.Textura{
	background-image: url('../images/Textura.png');
	height: 100%;
	border-radius: 1rem;
}

.ImagW{
	float: left;
	width: 60%;
}

.ImagT{
	float: left;
	width: 50%;
	height: 307px;
}

.Word{
	float: left;
	padding-top: 4rem;
	text-align: center;
	width: 40%;
}

.Assotsiatsia{
	float: left;
	padding: 4rem;
	text-align: center;
	width: 50%;
	height: 307px;
}

.Example{
	float: left;
	width: 1024px;
	margin: 1.5rem;
}

.Knopki{
	position: absolute;
	top: 54rem;
	left: 50.4%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}

.animate{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button{
	position: relative;
	padding: 10px 30px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Montserrat';
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.red{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.purple{
	background-color: #ae56e2;
	border-bottom: 5px solid #ab44d7;
	text-shadow: 0px -2px #9d44d9;
}

.action-button:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
