* {
	padding : 0;
	margin: 0 auto;
	box-sizing: border-box;
}

.Menu, .Logo, .Scylki, .k154, .Content, .ContentDark, .ContentLight, .GreetingImg, .Greeting, .Footer, .Textura, body, img, .Line, .Contenttopleft, .Contenttopright, .Contentmidlleft, .Contentmidlright, .Contentbuttonleft, .Contentbuttonright {
	display: block;
	float: left;
}

.ContentLight{
	background-image: url('../images/Blueline.svg');
	background-repeat: no-repeat;
	background-position: 0 450px;
	width: 100%;
}

.ContentDark{
	background-image: url('../images/Darkblueline.svg');
	background-repeat: no-repeat;
	background-position: 0 1030px;
	width: 100%;
}

.Line{
	background-image: url('../images/Line.svg');
	background-repeat: no-repeat;
	background-position: 0 2060px;
	width: 100%;
}

.Textura{
	background-image: url('../images/Textura.png');
	height: 2160px;
}

 body {
	background-image: url(../images/fon.svg);
	font-family: Montserrat Alternates;
	text-align: center;
 }

h1{
	color: #044080;
	padding: 2rem 1rem 1rem 1rem;
}

h3{
	padding: 1rem 0rem 1rem 0rem;
	font-weight: 500;
}

img{
	width: 100%;
}

a{
	color: #e6ac73;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {color: #e6ac73;}
a:active {color: #FDE9C1;}

.Menu{
	background-image: url('../images/Menu.svg');
	width: 10%;
	height: 2160px;
	box-shadow: 0.1rem 0 0.7rem;
}

.Logo{
	background-image: url('../images/Synespy.svg');
	background-size: 100% 100%;
	position: fixed;
	left: 0px;
	width: 10%;
	height: 150px;
}

.Sidebar-nav{color: #fff;}

.Scylki{
	position: fixed;
	text-align: center;
	width: 10%;
	margin-top: 13rem;
}

.lang{
	position: fixed;
	bottom: 20px;
	right: 0px;
	width: 90px;
	padding: 0.5rem;
}

.GreetingImg{
	width: 40%;
	height: 600px;
	padding: 1rem 0rem 0rem 1rem;
}

.Greeting{
	width: 50%;
	height: 600px;
}

.Contenttopleft{
	width: 50%;
	height: 500px;
	padding: 1rem;
	color: #FDE9C1;
}
.Contenttopright{
	width: 40%;
	height: 500px;
	padding: 1rem 1rem 0rem 0rem;
}
.Contentmidlleft{
	width: 40%;
	height: 495px;
	padding: 1rem 0rem 0rem 1rem;
}
.Contentmidlright{
	width: 50%;
	height: 495px;
	color: #FDE9C1;
	padding: 1rem;
}
.Contentbuttonleft{
	width: 50%;
	height: 465px;
	padding: 1rem;
}
.Contentbuttonright{
	width: 40%;
	height: 465px;
	padding: 1rem 1rem 0rem 0rem;
}

.InLine{
	color: #E6AC73;
	text-align: right;
	padding-right: 1rem;
}

.Footer{
	text-align: center;
	width: 90%;
	height: 78px;
}
