{% extends "cardshab0.html" %}

{% block title %}1 Карточка{% endblock title %}

{% block card %}
    <img src="/{{ words.imagew }}">
{% endblock card %}

{% block ssylok %}
  <div class="Knopki">
    <a href="/card/02/" class="action-button shadow animate red">Забыл</a>
    <a href="/card/training/" class="action-button shadow animate green">Следующее</a>
    <a href="/card/05/" class="action-button shadow animate purple">Проверить:&nbsp;<input maxlength="15" size="15" value="Word"></a>
  </div>
{% endblock ssylok %}
