{% extends "cardshab0.html" %}

{% block title %}3 Карточка{% endblock title %}

{% block card %}
    <div class="ImagW">
      <img src="/{{ words.imagew }}">
    </div>
    <div class="Word">
      <h1>{{ words.word }}</h1>
      <h2>{{ words.transcr }}</h2>
      <h2>{{ words.interpret }}</h2>
    </div>
    <div class="Example">
      <h1>{{ words.example1 }}</h1>
      <h1>{{ words.example2 }}</h1>
    </div>
{% endblock card %}

{% block ssylok %}
  <div class="Knopki">
    <a href="/card/04/" class="action-button shadow animate red">К ассоциации</a>
    <a href="/card/training_plus/" class="action-button shadow animate green">Перейти к следующему слову!</a>
  </div>
{% endblock ssylok %}
