<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="shortcut icon" type="image/png" href="../static/images/Favicon64.png"/>
</head>

<body>
  <div class="ContentLight">
    <div class="ContentDark">
      <div class="Line">
        <div class="Textura">

<div class="Menu">
  <div class="Logo"></div>
  <div class="Scylki">
    <a href="/card01/"><h3>{% block menu.01 %}{% endblock menu.01 %}</h3></a>
    <a href="/card05/"><h3>{% block menu.05 %}{% endblock menu.05 %}</h3></a>
    <a href="/lessons/"><h3>{% block menu.02 %}{% endblock menu.02 %}</h3></a>
    <a href="/cabinet/"><h3>{% block menu.03 %}{% endblock menu.03 %}</h3></a>
    <a href="/admin/"><h3>Admin</h3></a>
  </div>
</div>

<div class="GreetingImg"><img src="../static/images/Hello.gif" alt="Добро пожаловать!"></div>
<div class="Greeting">
	<div class="lang">{% block lang %}{% endblock lang %}</div>
	<h1>{% block header %}{% endblock header %}</h1>
  {% block header.text %}{% endblock header.text %}
</div>


<div class="Contenttopleft">
  {% block words.text %}{% endblock words.text %}
</div>
<div class="Contenttopright"><img src="../static/images/Statia.png" alt="Открытая книга">
  {% block words.image %}{% endblock words.image %}</div>
<div class="Contentmidlleft"><img src="../static/images/Otzyv.jpg" alt="Отзывы"></div>
<div class="Contentmidlright">
  {% block blog.text %}{% endblock blog.text %}
</div>
<div class="Contentbuttonleft">
  {% block entrance.text %}
  <h2>Choose cards for yourself!</h2>
  <p>For tourists, one or two weeks before the trip, you can learn the cost of living!</p>
  <p>To move to another country in just a couple of months, we suggest you learn the necessary number of words. </ p>
  <p> For those who want to merge with the locals in a foreign country there is a set of 4 thousand words!</p>
  {% endblock entrance.text %}
</div>
<div class="Contentbuttonright"><img src="../static/images/Obraz.jpg" alt="Подбери образ!"></div>

<div class="InLine">Synespy 2019</div>
<div class="Footer">

    {% block footer%}<p>Footer </p>{% endblock footer %}

</div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
