{% extends "otheshab.html" %}

{% block title %}Блог{% endblock title %}

{% block menu.00 %}Главная{% endblock menu.00 %}
{% block menu.01 %}Тренировка{% endblock menu.01 %}
{% block menu.02 %}Обучение{% endblock menu.02 %}
{% block menu.03 %}Поддержка{% endblock menu.03 %}
{% block menu.04 %}Блог{% endblock menu.04 %}
{% block menu.05 %}Новая карточка{% endblock menu.05 %}

{% block lang %}<a href="/"><img src="../static/images/eng.png"/></a>{% endblock lang %}

{% block header %}Советы, опыт, статьи!{% endblock header %}

{% block header.text %}
  {% for note in notes %}
    <h2><a href="#">{{ note.title }}</a></h2>
    <p>Автор: {{ note.author }}, {{ note.published_date|date:"d M Y" }}</p><br>
    <p>{{ note.text|linebreaksbr }}</p><br>
  {% endfor %}
{% endblock header.text %}
