<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/cards.css" %}" />
    <link rel="shortcut icon" type="image/png" href="../static/images/Favicon64.png"/>
</head>

<body>

<div class="TexturaFon">
  <div class="Maska">
<a href="/"><div class="Logo"></div></a>
  <div class="Probel"></div>
  <div class="Pictogramma01"><img src="../static/cards/pictogramka1.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma02"><img src="../static/cards/pictogramka2.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma03"><img src="../static/cards/pictogramka3.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma04"><img src="../static/cards/pictogramka4.svg"/></div>
  <div class="Probel"></div>
 <div class="NaTri">
  <div class="ProbelN"></div>
  <div class="Pictogramma05"><img src="../static/cards/pictogramka5.svg"/></div>
  <div class="Pictogramma06"><img src="../static/cards/pictogramka14.svg"/></div>
  <div class="ProbelN"></div>
  <div class="ProbelN"></div>
  <div class="Pictogramma07"><img src="../static/cards/pictogramka15.svg"/></div>
 </div>
  <div class="Card">
  	<div class="Textura">

{% block card %}{% endblock card %}

  	</div>
  </div>
  <div class="Probel"></div>
  <div class="Pictogramma08"><img src="../static/cards/pictogramka6.svg"/></div>
  <div class="Pictogramma09"><img src="../static/cards/pictogramka7.svg"/></div>
  <div class="Probel"></div>
  <div class="Probel"></div>
  <div class="Pictogramma10"><img src="../static/cards/pictogramka8.svg"/></div>
  <div class="Pictogramma11"><img src="../static/cards/pictogramka9.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma12"><img src="../static/cards/pictogramka10.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma13"><img src="../static/cards/pictogramka11.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma14"><img src="../static/cards/pictogramka12.svg"/></div>
  <div class="Probel"></div>
  <div class="Pictogramma15"><img src="../static/cards/pictogramka13.svg"/></div>
  <div class="Probel"></div>
  <div class="Otstup"></div>
  </div>
 </div>

</body>
</html>
