{% extends "cardshab.html" %}

{% block title %}Карточка{% endblock title %}

{% block card.01 %}
<div class="ContentCard">
  <svg>
    <symbol id="s-circles">
        <g stroke="gray" stroke-width="20" fill="white">
            <circle cx="25%" cy="20%" r="25%" />
            <circle cx="70%" cy="40%" r="35%" />
        </g>
    </symbol>
    <mask id="circles">
        <use xlink:href="#s-circles" />
    </mask>
    <symbol id="s-flower-m">
        <image xlink:href="../static/images/Obraz.jpg" width="100%"/>
    </symbol>
  </svg>
  <svg>
    <g mask="url(#circles)">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-flower-m"></use>
    </g>
  </svg>
</div>

<div class="Knopki">
  <a href="#" class="action-button shadow animate red">Не помню</a>
  <a href="#" class="action-button shadow animate green">Знаю!</a>
  <a href="#" class="action-button shadow animate purple">Проверить:&nbsp;<input maxlength="15" size="15" value="Word"></a>
</div>
{% endblock card.01 %}

{% block card.02 %}
<div class="ContentCard">
  <div class="ImagW">
    <img src="../static/cards/juice.png" alt="Сок">
  </div>
  <div class="Word">
    <h2>Какое слово пропущено?</h2>
  </div>
  <div class="Example">
    <h1>I want to drink some ___.</h1>
    <h1>You goes to drink ___.</h1>
  </div>
</div>

<div class="Knopki">
  <a href="#" class="action-button shadow animate red">Не помню</a>
  <a href="#" class="action-button shadow animate green">Знаю!</a>
  <a href="#" class="action-button shadow animate purple">Проверить:&nbsp;<input maxlength="15" size="15" value="Word"></a>
</div>
{% endblock card.02 %}

{% block card.03 %}
<div class="ContentCard">
  <div class="ImagW">
    <img src="../static/cards/juice.png" alt="Сок">
  </div>
  <div class="Word">
    <h2>juice</h2>
    <h3>ˈdʒuːs</h3>
    <h2></h2>
  </div>
  <div class="Transcr">
    <h2>Джунглевый сок</h2>
  </div>
  <div class="ImagT">
    <img src="../static/cards/juiceT.jpg" alt="Сок">
  </div>
</div>

<div class="Knopki">
  <a href="#" class="action-button shadow animate red">Не помню</a>
  <a href="#" class="action-button shadow animate green">Знаю!</a>
</div>
{% endblock card.03 %}

{% block card.04 %}
<div class="ContentCard">
  <div class="ImagW">
    <img src="../static/cards/juice.png" alt="Сок">
  </div>
  <div class="Word">
    <h1>juice</h1>
    <h2>ˈdʒuːs</h2>
  </div>
  <div class="Example">
    <h1>I want to drink some juice.</h1>
    <h1>You goes to drink juice.</h1>
  </div>
</div>

<div class="Knopki">
  <a href="#" class="action-button shadow animate red">Не помню</a>
  <a href="#" class="action-button shadow animate green">Знаю!</a>
</div>
{% endblock card.04 %}

{% block card.05 %}
<div class="ContentCard">
  <div class="ImagW">
    <img src="../static/cards/juice.png" alt="Сок">
  </div>
  <div class="Word">
    <h1>juice</h1>
    <h2>ˈdʒuːs</h2>
  </div>
  <div class="Example">
    <h2><p>Несколько полезных советов или правил.</p>
      <p>Так же здесь можно знакомить учащихся с интересными фактами.</p></h2>
  </div>
</div>

<div class="Knopki">
  <a href="#" class="action-button shadow animate green">Дальше</a>
</div>
{% endblock card.05 %}
