{% extends "cardshab.html" %}

{% block title %}3 Карточка{% endblock title %}

{% block card %}
  <div class="ContentCard">
    <div class="ImagW">
      <img src="../static/cards/juice.png" alt="Сок">
    </div>
    <div class="Word">
      <h1>{{ words.word }}</h1>
      <h2>{{ words.transcr }}</h2>
      <h2>{{ words.interpret }}</h2>
    </div>
    <div class="Example">
      <h1>I want to drink some juice.</h1>
      <h1>You goes to drink juice.</h1>
    </div>
  </div>
{% endblock card %}

{% block ssylok %}
  <div class="Knopki">
    <a href="/card04/" class="action-button shadow animate red">К ассоциации</a>
    <a href="/card01/" class="action-button shadow animate green">Перейти к следующему слову!</a>
  </div>
{% endblock ssylok %}
