{% extends "cardshab.html" %}

{% block title %}5 Карточка{% endblock title %}

{% block card %}
<div class="ContentCard">
  <div class="ImagW">
    <img src="../static/cards/juice.png" alt="Сок">
  </div>
  <div class="Word">
    <h1>juice</h1>
    <h2>ˈdʒuːs</h2>
  </div>
  <div class="Example">
    <h2><p>Несколько полезных советов или правил.</p>
      <p>Так же здесь можно знакомить учащихся с интересными фактами.</p></h2>
  </div>
</div>
{% endblock card %}

{% block ssylok %}
  <div class="Knopki">
    <a href="/card04/" class="action-button shadow animate green">Продолжить</a>
  </div>
{% endblock ssylok %}
