{% extends "otheshab.html" %}

{% block title %}Обучение{% endblock title %}

{% block menu.00 %}Главная{% endblock menu.00 %}
{% block menu.01 %}Тренировка{% endblock menu.01 %}
{% block menu.02 %}Обучение{% endblock menu.02 %}
{% block menu.03 %}Поддержка{% endblock menu.03 %}
{% block menu.04 %}Блог{% endblock menu.04 %}
{% block menu.05 %}Новая карточка{% endblock menu.05 %}

{% block lang %}<a href="/"><img src="../static/images/eng.png"/></a>{% endblock lang %}

{% block header %}Учимся быстро и легко{% endblock header %}

{% block content %}Статьи для облегчения освоения иностранного языка{% endblock content %}
