<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/othe.css" %}" />
    <link rel="shortcut icon" type="image/png" href="../static/images/Favicon64.png"/>
</head>

<body>
  <div class="Line">
    <div class="Textura">

<div class="Menu">
  <a href="/"><div class="Logo"></div></a>
  <div class="Scylki">
    <a href="/"><h3>{% block menu.00 %}{% endblock menu.00 %}</h3></a>
    <a href="/card01/"><h3>{% block menu.01 %}{% endblock menu.01 %}</h3></a>
    <a href="/card05/"><h3>{% block menu.05 %}{% endblock menu.05 %}</h3></a>
    <a href="/lessons/"><h3>{% block menu.02 %}{% endblock menu.02 %}</h3></a>
    <a href="/blog/"><h3>{% block menu.04 %}{% endblock menu.04 %}</h3></a>
    <a href="/admin/"><h3>Admin</h3></a>
    <ul class="Sidebar-nav">
      {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="Header">
	<div class="lang">{% block lang %}{% endblock lang %}</div>
	<h1>{% block header %}{% endblock header %}</h1>
  {% block header.text %}{% endblock header.text %}
</div>

<div class="Content">
  {% block content %}{% endblock content %}
</div>

<div class="InLine">Synespy 2019</div>
<div class="Footer">

    {% block footer%}<p>Footer </p>{% endblock footer %}

</div>

    </div>
  </div>
</body>

</html>
