{% extends "base.html" %}

{% block title %}Главная страница{% endblock title %}

{% block header %}Для русскоязычных пользователей!{% endblock header %}

{% block lang %}<a href="/"><img src="../static/images/eng.png"/></a>{% endblock lang %}

{% block words %}
  {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>Автор: {{ post.author }}, {{ post.published_date|date:"d M Y"  }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
  {% endfor %}
{% endblock words %}